.container {
    text-align: center;
    margin-top: 100px;
}

#timer {
    font-size: 40px;
    margin-bottom: 20px;
}

#elapsed-time-title {
    font-size: 24px;
    margin-bottom: 10px;
}

#elapsed-time-value {
    font-size: 18px;
    margin-bottom: 20px;
}

#payment-amount-title {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#payment-amount-value {
    font-size: 18px;
}

button {
    font-size: 16px;
    margin: 5px;
}